@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Source+Sans+Pro:wght@900&display=swap');

html, body, p {
    margin: 0;
    padding: 0;
}

/* HIDES SCROLLBAR */
body::-webkit-scrollbar { 
	display: none;
}

/* ABOUT SECTION */

.title {
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 60px;
	margin: 0;
	border:1px hidden black;
}

div.about-section {
	font-family: 'Nunito Sans', sans-serif;
	text-indent: 50px;
	text-align: justify;
	width: 62%;
	padding-left: 60px;
	border:1px hidden black;
	margin: 0;
}

.au-column {
	float: left;
	width: 50%;
	padding-top:70px;
	padding-bottom:97px;
}

.au-content {
	text-indent: 50px;
	text-align: justify;
	border:1px hidden black;
	font-family: 'Nunito Sans', sans-serif;
}

.au-row:after {
	content: "";
	display: table;
	clear: both;
}

/* PICTURES */

* {
	box-sizing: border-box;
}

.p-row:after {
	content: "";
	clear: both;
	display: table;
}

.p-column {
	float: left;
	width: 33.33%;
	margin: 0;
}

/* FOOTER */

.au-footer {
	padding: 5px;
	margin: 0;
	background-color:#008080;
}

.au-footer-row:after {
	content: "";
	display: table;
	clear: both;
	border: 1px hidden black;
}

.au-footer-column {
	float: right;
	border: 1px hidden red;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/*
maincolor: #00AEAE;
*/